// Variables

$white: #ffffff;
$black: #272d2d;

$grey: #b9b9b9;
$light-grey: #e1dede;
$dark-grey: rgba(112, 112, 112, 0.5);

$orange: #f79869;
$dark-orange: #f36e5e;

$dark-red: #d85545;
$red: #ff0000;

$light-green: #90ee90;

$underline: #9b96d0;

$subtitle-font: "Lato", sans-serif;
$primary-font: "Lato", sans-serif;

$primary: #9b96d0;
